<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Sayfa Bulunamadı</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Üzgünüz, bu adreste herhangi bir içerik bulunamadı.</p>
        </LayoutView>
    </NotFound>
</Router>
